.player {
    display: flex;
    align-items: center;
    width: 300px;
    background-color: rgba(22, 16, 75, 0.9);
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px ;

    span {
        font-size: 16px;
        font-weight: 700;
        margin-left: 32px;
    }

    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.currentPlayer{
    background-color: rgb(115, 151, 32);
    
    // img{
    //     width: 120px;
    //     height: 120px;
    // }
    
}