.board{
    width:100%;
    height: 100%;
    position: relative;
}

.playground {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url('^assets/img/playground.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.mobileScroll{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    gap: 12px;
    overflow-x: auto;
    overflow-y: hidden;
}

.desktopScroll{
    position: absolute;
    bottom: 160px;
    right: 0;
    top: 16px;
    display: flex;
    flex-direction: column;    
    gap: 12px;
    width: 25%;
    overflow-y: auto;
    overflow-x: hidden;
}

.playerPosition{
    width: 25%;
}

app-player{
    cursor: pointer;

    &:hover{
        filter: brightness(1.2)
    }
}

.cardstack {
    position: relative;
    margin-left: 200px;

    @media(max-width: 900px) {
        margin-left: 100px;
    }

    @media(max-width: 720px) {
        margin-left: 50%;
    }

    @media(max-width: 500px) and (max-height: 700px){
        margin-bottom: 40px;
    }

    img {
        position: absolute;
        width: 160px;

        @media(max-width: 900px) {
            width: 140px;
        }

        @media(max-width: 720px) {
            width: 110px;
        }

        @media(max-width: 500px) {
            width: 90px;
        }

        @media(max-width: 500px) and (max-height: 700px){
            width: 80px;
        }

    }
}

.topCard {
    cursor: pointer;
    transition: all 150ms ease-in-out;

    &:hover {
        transform: scale(1.05) translateY(-10px);
    }
}

.pickCard {
    animation: pickCardAnimationWidth 2s ease-in-out;        
    transform: scale(1.5) translateX(-120px) translateY(-200px) rotate(200deg);    
    

    @media (max-width: 900px) {      
        animation: pickCardAnimationMedium 2s ease-in-out;
        transform: scale(1.5) translateX(-100px) translateY(-150px) rotate(200deg) ;
    }

    @media(max-width: 500px) {
        animation: pickCardAnimationSmall 2s ease-in-out;
        transform: scale(1.2) translateX(-50px) translateY(-155px) rotate(200deg);
    }

    // @media(max-width: 500px) and (max-height: 700px){
    //     animation: pickCardAnimationStrangeScreens 2s ease-in-out;        
    //     transform: scale(1.2) translateX(-10px) translateY(-150px) rotate(180deg) ;
    // }

}

.playedCard {
    right: 25px;

    transform: scale(1.5) translateX(-120px) translateY(-200px) rotate(200deg);

    @media(max-width: 900px) {
        
        transform: scale(1.5) translateX(-100px) translateY(-150px) rotate(200deg);
    }

    @media(max-width: 500px) {
        
        transform: scale(1.2) translateX(-50px) translateY(-155px) rotate(200deg);
    }

    

    // @media(max-width: 500px) and (max-height: 700px){               
    //     transform: scale(1.2) translateX(-10px) translateY(-150px) rotate(180deg) ;
    // }
}


    @keyframes pickCardAnimationWidth {
        0% {
            transform: scale(1);
        }
        20% {
            transform: scale(1.5);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1.5) translateX(-120px) translateY(-200px) rotate(200deg);
        }
    }

    @keyframes pickCardAnimationMedium {
        0% {
            transform: scale(1);
        }
        20% {
            transform: scale(1.5);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1.5) translateX(-100px) translateY(-150px) rotate(200deg);
        }
    }

    @keyframes pickCardAnimationSmall {
        0% {
            transform: scale(1);
        }
        20% {
            transform: scale(1.2);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1.2) translateX(-50px) translateY(-155px) rotate(200deg);
        }
    }

    @keyframes pickCardAnimationStrangeScreens {
        0% {
            transform: scale(1);
        }
        20% {
            transform: scale(1.2);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1.2) translateX(-10px) translateY(-150px) rotate(-180deg);
        }
    }


.btnAdd {
    position: absolute;
    bottom: 60px;
    right: 16px;
    height: 64px;
    width: 64px;

    @media(max-width: 960px) {
        bottom: 25px;
    }
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(22, 16, 75); 
    border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(22, 16, 75, 0.9); 
  }

  .gameOver{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.164);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

     img{
        width: 90%;
    }
  }