<!-- [name] = "player" ist INPUT-Variable -> Wert von Player wird an Variable name übergeben -> Variable muss in player-componente erstellt werden -->
<div class="board">

    <div class="desktopScroll desktop-mode">
        <app-player (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index" [ngStyle]="{'top.px': 50 + (i * 90)}"
            [playerActive]="i == game.currentPlayer" [name]="player" [image]="game.playerImages[i]" >
        </app-player>
    </div>


    <div class="mobileScroll mobile-mode">
        <app-player-mobile (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index"
            [ngStyle]="{'left.px': 5 + (i * 80), 'top.px': 0}" [playerActive]="i == game.currentPlayer" [name]="player" [image]="game.playerImages[i]">
        </app-player-mobile>
    </div>


    <div class="gameOver" *ngIf="gameOver" >
        <img (click)="newGame()" src="/assets/img/gameOverLabel.png" alt="">
        
    </div>   

    <app-game-info [card]="game.currentCard" class="descriptionCard">

    </app-game-info>

    <div class="playground">
        <div class="cardstack">

            <!--static cards covered -->
            <img *ngFor="let c of [1,2,3,4]; let i = index;" [ngStyle]="{'right.px': i * 5}"
                src="/assets/img/Cards/card_cover.png" alt="">

            <!-- top covered card to animate hovereffect -->
            <img ng-disabled (click)="pickCard()" class="topCard" style="right:25px" src="/assets/img/Cards/card_cover.png" alt="">

            <!-- open card staple -->
            <img *ngFor="let card of game.playedCards" class="playedCard" src="/assets/img/Cards/{{ card }}.png" alt="">

            <!-- animation of picked card -->
            <img (click)="pickCard()" *ngIf="game.CardAnimation" class="pickCard" style="right:25px"
                src="/assets/img/Cards/{{ game.currentCard }}.png" alt="">

        </div>
    </div>

    <button mat-fab color="primary" class="btnAdd" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>