.playground{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url('^assets/img/playground.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.cardstack{
    position: relative;

    img{
        position: absolute;
        width: 140px;        
    }
}

.topCard{
    cursor: pointer;
    transition: all 150ms ease-in-out;
    &:hover{
        transform: scale(1.05) translateY(-10px); 
    }
}

.pickCard{    
    animation: pickCardAnimation 2s ease-in-out;
    transform: scale(1.5) translateX(-100px) translateY(-150px) rotate(200deg);
}

.playedCard{
    right: 25px;
    transform: scale(1.5) translateX(-100px) translateY(-150px) rotate(200deg);
}


@keyframes pickCardAnimation {
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.5);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1.5) translateX(-100px) translateY(-150px) rotate(200deg);
    }
}

.playerPosition{
    position: absolute;
    right: 0;
}

.btnAdd{
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.descriptionCard{
    position: absolute;
    bottom: 32px;
    left: 100px;    
    right: 100px;
}

// @media(max-width: 850px){
//     .cardstack{
//         img{
//             width: 100px;        
//         }
//     }
// }

// @media(max-width: 650px){
    
// }